@model Web.Models.Category.CategoryViewModel

@{
    ViewData["Title"] = "Categories";
}

<div class="top-page-container">

    <div class="heading-container">
        <h1 class="top-page-heading">Categories</h1>
        <a asp-action="Create">
            <img src="~/images/add.png" alt="Option"/>
        </a>
    </div>

    <div class="pagination-information">
        <p>Current page: @Model.Pagination.CurrentPage</p>
        <p>Total records: @Model.Pagination.TotalItems</p>
        <p>Total pages: @Model.Pagination.TotalPages</p>
    </div>

    <form method="get" asp-action="Index">

        <div class="top-page-searchbar-container">
            <input name="searchQuery" value="@Model.SearchCategory" class="top-page-searchbar" placeholder="Search" />
        </div>

        <div class="pagination-pages-list">
            @foreach (var item in Model.Pagination.Pages)
            {
                <input name="page" type="submit" value="@item" />
            }
        </div>
    </form>

</div>

<div class="image-container">

    @foreach (var item in @Model.Categories)
    {
        <div class="category-container-item"> 
            
            <div class="category-options-place">
                <a asp-action="Edit" asp-route-categoryId="@item.Id">
                    <img src="~/images/edit.png" class="category-option-item" alt="Option" />
                </a>
                <a asp-action="Delete" asp-route-categoryId="@item.Id">
                    <img src="~/images/delete.png" alt="Option" class="category-option-item" />
                </a>
            </div>

            <a asp-controller="Image" asp-action="Index" asp-route-categoryId="@item.Id">
                <img src="@item.Url" alt="Image" />
            </a>
            <div class="category-heading-place">
                <h1 class="category-heading">@item.Name</h1>
            </div>
        </div>
    }

</div>
