@model Web.Models.Category.CategoryViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Categories</h1>

<div>
    <p>Current page: @Model.Pagination.CurrentPage</p>
    <p>Total records: @Model.Pagination.TotalItems</p>
    <p>Total pages: @Model.Pagination.TotalPages</p>

    <form method="get" asp-action="Index">

        <input name="searchQuery" value="@Model.SearchCategory" />

        @foreach (var item in Model.Pagination.Pages)
        {
            <input name="page" type="submit" value="@item" />
        }
    </form>


        @foreach (var item in @Model.Categories)
        {
            <p>@item.Name</p>
            <p>@item.Name</p>

            <hr />
        }

    </div>