@model Web.Models.Image.ImageDisplayModel

<div class="top-page-container">

    <h1 class="top-page-heading">Images</h1>

    @{
        if (User.IsInRole("Moderator") || User.IsInRole("Admin"))
        {
            <div class="moderator-admin-options">
                <a asp-action="Create">Create categroy</a>
            </div>
        }
    }

    <div class="pagination-information">
        <p>Current page: @Model.Pagination.CurrentPage</p>
        <p>Total records: @Model.Pagination.TotalItems</p>
        <p>Total pages: @Model.Pagination.TotalPages</p>
    </div>

    <form method="get" asp-action="Index">

        <div class="top-page-searchbar-container">
            <input name="searchQuery" value="@Model.SearchCategory" class="top-page-searchbar" placeholder="Search" />
        </div>

        <div class="pagination-pages-list">
            @foreach (var item in Model.Pagination.Pages)
            {
                <input name="page" type="submit" value="@item" />
            }
        </div>
    </form>

</div>

<div class="image-container">

    @foreach (var item in @Model.Images)
    {
        <div class="category-container-item">
            <a asp-action="Detail" asp-route-imageId="@item.Id">
                <img src="@item.Url" alt="Image" />
            </a>
        </div>
    }

</div>

